streamlit~=1.37.1
pandas~=2.2.2
seaborn~=0.13.2
matplotlib~=3.9.2
SQLAlchemy~=2.0.32
python-dotenv~=1.0.1
plotly~=5.23.0
psycopg2
streamlit-plotly-events==0.0.6
numpy~=2.1.0
scikit-learn~=1.5.1
pygwalker~=0.4.9.10